<h1>List of VSCode repository issues</h1>
<mat-paginator [length]="repo.issueCount"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="paginator($event)"
               [pageIndex]="pageIndex">
</mat-paginator>
<mat-accordion>
  <mat-expansion-panel *ngFor="let issue of issues"
                       hideToggle>
    <mat-expansion-panel-header>

      <mat-panel-title>
        {{ issue.titulo }}
      </mat-panel-title>

      <mat-panel-description>
        #{{issue.numero}} by {{issue.autor}}
      </mat-panel-description>

    </mat-expansion-panel-header>
    <pre [innerHTML]="issue.descripcion"></pre>
    <a [href]="issue.url"
       target="_blank"
       class="link">Go to the Issue</a>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="repo.issueCount"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="paginator($event)"
               [pageIndex]="pageIndex"
               *ngIf="pageSize>=20"
               id="paginatorBottom">
</mat-paginator>

<div class="backdrop"
     *ngIf="showLoading">
  <mat-spinner></mat-spinner>
</div>