h1 {
  padding: 16px;
  margin: 0;
}

mat-panel-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-basis: 60%;
}

mat-panel-description {
  justify-content: flex-end;
}

pre {
  font-family: "roboto";
  white-space: pre-wrap;
  word-wrap: break-word;
}

.link {
  color: #0066b8;
  font-weight: bold;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.144);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
}
